<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BeatHelper</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="container">
    <div class="content">
        <div class="header-container">
            <h2>My BPMs</h2>
            <a th:href="@{/mybpms/random}" class="btn">Random New BPM</a>
            <br><br/>
        </div>

        <div class="table-container">
            <form method="get" th:action="@{/mybpms}" class="filter-form">
                <div class="filter-row">
                    <div class="filter-group">
                        <label>Min BPM:</label>
                        <input type="number" name="min" th:value="${min}" class="small-input">
                    </div>

                    <div class="filter-group">
                        <label>Max BPM:</label>
                        <input type="number" name="max" th:value="${max}" class="small-input">
                    </div>

                    <div class="filter-group">
                        <label>Search BPM:</label>
                        <input type="number" name="bpmValue" th:value="${bpmValue}" class="small-input">
                    </div>

                    <div class="filter-group">
                        <label>From Date:</label>
                        <input type="date" name="startDate" th:value="${startDate}" class="small-input">
                    </div>

                    <div class="filter-group">
                        <label>To Date:</label>
                        <input type="date" name="endDate" th:value="${endDate}" class="small-input">
                    </div>
                </div>

                <div class="form-error" th:if="${error}">
                    <p th:text="${error}"></p>
                </div>

                <div class="filter-group">
                    <button type="submit" class="btn">Filter</button>
                    <a th:href="@{/mybpms}" class="btn btn-clear spaced-btn">Clear Filters</a>
                </div>


            </form>

            <table>
                <thead>
                <tr>
                    <th><a th:href="@{/mybpms(sortField='id', sortDirection=${reverseSortDirection})}" th:text="'ID'">ID</a></th>
                    <th><a th:href="@{/mybpms(sortField='bpmValue', sortDirection=${reverseSortDirection})}" th:text="'BPM Value'">BPM Value</a></th>
                    <th><a th:href="@{/mybpms(sortField='createdAt', sortDirection=${reverseSortDirection})}" th:text="'Created at'">Created at</a></th>
                    <th>Created by</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bpm : ${bpms}">
                    <td th:text="${bpm.id}"></td>
                    <td th:text="${bpm.bpmValue}"></td>
                    <td th:text="${#temporals.format(bpm.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${bpm.createdBy.username}"></td>
                    <td class="actions">
                        <a th:href="@{'/mybpms/edit/' + ${bpm.id}}" class="btn btn-edit">Edit</a>
                        <a th:href="@{'/mybpms/delete/' + ${bpm.id}}" class="btn btn-delete"
                           onclick="return confirm('Are you sure?');">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination">
            <a th:if="${currentPage > 0}" th:href="@{/mybpms(page=${currentPage - 1})}" class="btn">Previous</a>
            <span>Page <span th:text="${currentPage + 1}"></span> of <span th:text="${totalPages}"></span></span>
            <a th:if="${currentPage + 1 < totalPages}" th:href="@{/mybpms(page=${currentPage + 1})}" class="btn">Next</a>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>